@model IEnumerable<rpc.Web.Work>

@{
    ViewBag.Title = "ListWork";
}
<script>
(function(document) {


	var tableFilter = (function(Arr) {

		var _input;

		function _onInputEvent(e) {
			_input = e.target;
			var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
			Arr.forEach.call(tables, function(table) {
				Arr.forEach.call(table.tBodies, function(tbody) {
					Arr.forEach.call(tbody.rows, _filter);
				});
			});
		}

		function _filter(row) {
			var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
			row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
		}

		return {
			init: function() {
				var inputs = document.getElementsByClassName('search');
				Arr.forEach.call(inputs, function(input) {
					input.oninput = _onInputEvent;
				});
			}
		};
	})(Array.prototype);

	document.addEventListener('readystatechange', function() {
		if (document.readyState === 'complete') {
			tableFilter.init();
		}
	});

})(document);


</script>


<td>
    <h4>
        @Html.ActionLink("List Of Job", "Index") |
        @Html.ActionLink("Add New Job", "Create") |
        @Html.ActionLink("List Of Work Center", "ListWork")

    </h4>
</td><br />
Search <input type="search" data-table="order-table" placeholder="Filter" class="search" />
<br />
<br />

<table class="order-table table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => item.JobID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkName)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.WorkID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.WorkID})
            </td>
        </tr>
    }

</table>
